.container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  font-family: sans-serif;
}

select,
input {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
}

.link-box {
  margin-top: 20px;
}

.qr-box {
  margin-top: 30px;
}

.api-data {
  margin-top: 30px;
  text-align: left;
  font-size: 12px;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  text-wrap: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.download-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.download-btn:hover {
  background-color: #388e3c;
}

.download-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.qr-container {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

.qr-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: white;
  padding: 2px;
}

.loader-spinner {
  border: 4px solid #f3f3f3;
  /* Light gray */
  border-top: 4px solid #007bff;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}